{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ogani Template" />
    <meta name="keywords" content="Ogani, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link
      rel="stylesheet"
      href="{% static 'css/hbootstrap.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/hfont-awesome.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/helegant-icons.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/hnice-select.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/hjquery-ui.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/howl.carousel.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/hslicknav.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/hstyle.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <!-- Google Fonts Roboto -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/mdb.min.css' %}"
      type="text/css"
    />
  </head>

  <body>
    {% include 'header.html' %}
    <section class="featured spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title from-blog__title">
              <h2>Lịch sử đơn đặt hàng</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="shoping-cart spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="shoping__cart__table">
              <table>
                <thead>
                  <tr>
                    <th class="table-cell">Mã đơn hàng</th>
                    <th class="table-cell">Tình trạng đơn hàng</th>
                    <th class="table-cell">Phương thức</th>
                    <th class="table-cell">Tổng tiền đơn hàng</th>
                    <th class="table-cell">Thời gian tạo đơn hàng</th>
                    <th class="table-cell">Chi tiết đơn hàng</th>
                    <th class="table-cell"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in items %}
                  <tr>
                    <td class="table-cell">#{{ item.order_info.id }}</td>
                    {% if item.order_info.status == "Success" %}
                    <td class="text-success">Thành công</td>
                    {% else %}
                    <td class="text-warning">Đang chờ thanh toán</td>
                    {% endif %}
                    <td class="shoping__cart__price table-cell">
                      {{ item.order_info.payment_method|upper }}
                    </td>
                    <td class="count_favourite table-cell">
                      {{ item.order_info.total_price }} VNĐ
                    </td>
                    <td class="time-created table-cell">
                      {{ item.order_info.created_at }}
                    </td>
                    <td class="detail-order table-cell">
                      <a
                        href="/KitchenAmenitiesStore/orders/{{ item.order_info.id }}"
                        >Chi tiết >></a
                      >
                    </td>
                    <td class="table-cell"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'footer.html' %}

    <!-- Js Plugins -->
    <script src="{% static 'js/hjquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/hbootstrap.min.js' %}"></script>
    <script src="{% static 'js/hjquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/hjquery-ui.min.js' %}"></script>
    <script src="{% static 'js/hjquery.slicknav.js' %}"></script>
    <script src="{% static 'js/hmixitup.min.js' %}"></script>
    <script src="{% static 'js/howl.carousel.min.js' %}"></script>
    <script src="{% static 'js/hmain.js' %}"></script>
    <script src="{% static 'js/mdb.min.js' %}"></script>
    <script src="{% static 'js/departments.js' %}"></script>
    <script src="{% static 'js/trademark.js' %}"></script>
    <script src="{% static 'js/current-user.js' %}"></script>
    <script src="{% static 'js/products-all.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
</html>
